{% extends 'accounts/layout.html' %}
{% block reg_title %}
    Реєстрація
{% endblock  %}

{% block main %}
    <div class="registration-container">
            <h1 class="label">Реєстрація</h1>
                <form method="post" class="registration-form">
                        {%  csrf_token %}
                        {% for field in form%}
                            {% if field.errors %}
                                <div class="alert">
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                            {{ field }}
                        {% endfor %}
                        <button type="submit" class="submit-button">Зареєструватись</button>

                </form>
        </div>
{% endblock %}