{% extends 'main/layout.html' %}
{% load static %}

{%  block title %}
    Головна
{% endblock %}

{% block header %}
    {% if user.is_authenticated %}
        <div class="logout-container">
            <a href="{% url 'logout' %}" class="logout">Вийти з акаунту</a>
        </div>
    {% endif %}
{% endblock header %}

{% block main %}
    {% if user.is_authenticated %}
            {% if is_book == 2 or is_book == 3 %}
                <div class="home-container">
                    <div class="home-button">
                        <a href="{% url 'home' %}" class="home-link">Назад</a>
                    </div>
                </div>
            {% endif %}
                <div class="main-container">
                    {% if is_book == 1%}
                        <form method="post" class="home-form">
                            {% csrf_token %}
                            {{ form.title }}
                            <button class="search-button" type="submit">
                                <img src="{% static 'main/img/search.png' %}" alt="", class="search-icon">
                            </button>
                        </form>
                    {% elif is_book == 3%}
                        <h1 class="mes-title">Такої книги не знайдено</h1>
                    {% elif is_book == 0 %}
                        <h1 class="mes-title">Додайте свою першу книгу</h1>
                    {% endif %}
                </div>
               <div class="main-block">
                {% if books %}
                   {% for book in books %}
                           <a href="{% url 'book-card' book.pk %}" class="card-link">
                        <div class="book-block">
                            <div class="book-foto-block">
                                <img src="{{ book.foto.url }}" alt="book-foto" class="book-foto">
                            </div>
                            <div class="book-info-block">
                                <div class="book-info-text">
                                    <h2 class="name">{{ book.title }}</h2>
                                    <h2 class="author">{{ book.author }}</h2>
                                    <p class="about">
                                        {{ book.text }}
                                    </p>
                                </div>
                            </div>
                        </div>
                       </a>
                   {% endfor %}
                    {% endif %}
                   <div class="add-container">
                       <a href="{% url 'book' %}" class="add-link">+</a>
                   </div>
               </div>
            </div>
    {% else %}
            <div class="auth-container">
                {% if messages %}
                            {% for message in messages %}
                                <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                                    {{ message }}<br/>
                                </div>
                            {% endfor %}
                {% endif %}
                <h1 class="auth-text">Щоб знайти книгу
                <span >
                    <a href="{% url 'registration' %}" class="auth">зареєструйтеся</a>
                </span>
                або
                <span >
                    <a href="{% url 'authentication' %}" class="auth">увійдіть</a>
                </span></h1>

    {% endif %}
{% endblock main %}