{% extends 'registration/layout.html' %}
{% block reg_title %}
    Реєстрація
{% endblock  %}

{% block main %}
    <div class="registration-container">
            <h1 class="label">Реєстрація</h1>
                <form method="post" class="registration-form">
                        {%  csrf_token %}
                        {% if messages %}
                        {% for message in messages %}
                            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                                {{ message }}<br/>
                            </div>
                        {% endfor %}
                        {% endif %}
                        {{form.username}}
                        {{ form.first_name }}
                        {{ form.last_name }}
                        {{form.email}}
                        {{form.password}}
                        <button type="submit" class="submit-button">Зареєструватись</button>

                </form>
        </div>
{% endblock %}