{% extends 'registration/layout.html' %}
{% block reg_title %}
    Авторизація
{% endblock  %}

{% block main %}
    <div class="registration-container">
            <h1 class="label">Авторизація</h1>
                {% if messages %}
                        {% for message in messages %}
                            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                                {{ message }}<br/>
                            </div>
                        {% endfor %}
                    {% endif %}
                <form method="post" class="registration-form">
                    {% csrf_token %}

                    {{ form.username }}
                    {{ form.password }}<br/>
                    <button type="submit" class="submit-button">Увійти</button>

                </form>
        </div>
{% endblock %}